In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# CSV/Json files 
us_file='youtube-csv-json/USvideos.csv'
us_json='youtube-csv-json/US_category_id.json'
gb_file='youtube-csv-json/GBvideos.csv'
gb_json='youtube-csv-json/GB_category_id.json'
ca_file ="youtube-csv-json/CAvideos.csv"
cajson_file ="youtube-csv-json/CA_category_id.json"
de_file = ("youtube-csv-json/DEvideos.csv")
dejson_file = ("youtube-csv-json/DE_category_id.json")

In [3]:
# reading csv file to pandas df
us_df=pd.read_csv(us_file)
gb_df=pd.read_csv(gb_file)
ca_csv_df = pd.read_csv(ca_file)
de_csv_df = pd.read_csv(de_file)

In [4]:
us_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."

In [5]:
gb_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...

In [6]:
ca_csv_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...

In [7]:
de_csv_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,LgVi6y5QIjM,17.14.11,Sing zu Ende! | Gesangseinlagen vom Feinsten |...,inscope21,24,2017-11-13T17:08:49.000Z,"inscope21|""sing zu ende""|""gesangseinlagen""|""ge...",252786,35885,230,1539,https://i.ytimg.com/vi/LgVi6y5QIjM/default.jpg,False,False,False,Heute gibt es mal wieder ein neues Format... w...
1,Bayt7uQith4,17.14.11,Kinder ferngesteuert im Kiosk! Erwachsene abzo...,LUKE! Die Woche und ich,23,2017-11-12T22:30:01.000Z,"Kinder|""ferngesteuert""|""Kinder ferngesteuert""|...",797196,53576,302,1278,https://i.ytimg.com/vi/Bayt7uQith4/default.jpg,False,False,False,Kinder ferngesteuert! Kinder lassen sich sooo ...

In [8]:
#  reading json file to pandas df
us_json_df=pd.read_json(us_json)
gb_json_df=pd.read_json(gb_json)
cajson_df = pd.read_json(cajson_file)
dejson_df = pd.read_json(dejson_file)

In [9]:
us_json_df.head(2)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [10]:
#data cleaning: pulling the title and id from the json df
us_details=[]

for item in us_json_df["items"]:
    title= item['snippet']['title']
    id=int(item['id'])
    us_details.append({'title':title, 'id':id})
    
gb_details=[]

for item in gb_json_df["items"]:
    title= item['snippet']['title']
    id=int(item['id'])
    gb_details.append({'title':title, 'id':id})
    
de_details=[]
for item in dejson_df["items"]:
    title = item["snippet"]["title"]
    id = int(item["id"])
    de_details.append({"title":title, "id":id})
    
ca_details=[]
for item in cajson_df["items"]:
    title = item["snippet"]["title"]
    id = int(item["id"])
    ca_details.append({"title":title, "id":id})

In [11]:
us_details[0:5]

[{'title': 'Film & Animation', 'id': 1},
 {'title': 'Autos & Vehicles', 'id': 2},
 {'title': 'Music', 'id': 10},
 {'title': 'Pets & Animals', 'id': 15},
 {'title': 'Sports', 'id': 17}]

In [12]:
#loading cleaned json data to pandas df
us_json_df_clean=pd.DataFrame(us_details)
us_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

gb_json_df_clean=pd.DataFrame(gb_details)
gb_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

ca_json_df_clean=pd.DataFrame(ca_details)
ca_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

de_json_df_clean=pd.DataFrame(de_details)
de_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

In [13]:
us_json_df_clean.head(2)

     category_title  category_id
0  Film & Animation            1
1  Autos & Vehicles            2

In [14]:
#data cleaning: changing a column to int
us_df.category_id.astype(int)
gb_df.category_id.astype(int)
ca_csv_df.category_id.astype(int)
de_csv_df.category_id.astype(int)

0        24
1        23
2        24
3        27
4        24
         ..
40835    20
40836    24
40837    24
40838    20
40839    23
Name: category_id, Length: 40840, dtype: int32

In [15]:
# data cleaning: pulling the publish hour from the publish_time column
us_publish_hour = []
for t in us_df["publish_time"]:
    time = t[11:19]
    us_publish_hour.append(time)
    
gb_publish_hour = []
for t in gb_df["publish_time"]:
    time = t[11:19]
    gb_publish_hour.append(time)
    
ca_publish_hour = []
for t in ca_csv_df["publish_time"]:
    time = t[11:19]
    ca_publish_hour.append(time)
    
de_publish_hour = []
for t in de_csv_df["publish_time"]:
    time = t[11:19]
    de_publish_hour.append(time)

In [16]:
us_publish_hour[0:5]

['17:13:01', '07:30:00', '19:05:24', '11:00:04', '18:01:41']

In [17]:
gb_publish_hour[0:5]

['07:38:29', '06:24:44', '17:00:03', '02:30:38', '01:45:13']

In [18]:
ca_publish_hour[0:5]

['17:00:03', '17:00:00', '19:05:24', '18:01:41', '11:04:14']

In [19]:
de_publish_hour[0:5]

['17:08:49', '22:30:01', '07:30:00', '15:00:01', '13:10:36']

In [20]:
# adding the cleaned hour information into a column
us_df["publish_hour"] = us_publish_hour
gb_df["publish_hour"] = gb_publish_hour
ca_csv_df["publish_hour"] = ca_publish_hour
de_csv_df["publish_hour"] = de_publish_hour

In [21]:
# merging the cdv df with the cleaned json df
us_merged_df = pd.merge(us_df ,us_json_df_clean , how = "left", on = ["category_id","category_id"])
gb_merged_df = pd.merge(gb_df ,gb_json_df_clean , how = "left", on = ["category_id","category_id"])
ca_merged_df = pd.merge(ca_csv_df ,ca_json_df_clean , how = "left", on = ["category_id","category_id"])
de_merged_df = pd.merge(de_csv_df ,de_json_df_clean , how = "left", on = ["category_id","category_id"])

In [22]:
us_merged_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_hour,category_title
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,17:13:01,People & Blogs
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",07:30:00,Entertainment

In [23]:
gb_merged_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_hour,category_title
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...,07:38:29,Howto & Style
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...,06:24:44,Entertainment

In [24]:
ca_merged_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_hour,category_title
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,17:00:03,Music
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,17:00:00,Comedy

In [25]:
de_merged_df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_hour,category_title
0,LgVi6y5QIjM,17.14.11,Sing zu Ende! | Gesangseinlagen vom Feinsten |...,inscope21,24,2017-11-13T17:08:49.000Z,"inscope21|""sing zu ende""|""gesangseinlagen""|""ge...",252786,35885,230,1539,https://i.ytimg.com/vi/LgVi6y5QIjM/default.jpg,False,False,False,Heute gibt es mal wieder ein neues Format... w...,17:08:49,Entertainment
1,Bayt7uQith4,17.14.11,Kinder ferngesteuert im Kiosk! Erwachsene abzo...,LUKE! Die Woche und ich,23,2017-11-12T22:30:01.000Z,"Kinder|""ferngesteuert""|""Kinder ferngesteuert""|...",797196,53576,302,1278,https://i.ytimg.com/vi/Bayt7uQith4/default.jpg,False,False,False,Kinder ferngesteuert! Kinder lassen sich sooo ...,22:30:01,Comedy

In [26]:
#data cleaning: selecting the relevant columns 
us_clean_merged_df = us_merged_df[['video_id','title','channel_title','category_id', 'category_title','trending_date', 
       'publish_hour', 'views', 'likes', 'dislikes']]
us_clean_merged_df.rename(columns={"views":"video_views"}, inplace=True)

gb_clean_merged_df = gb_merged_df[['video_id','title','channel_title','category_id', 'category_title','trending_date', 
       'publish_hour', 'views', 'likes', 'dislikes']]
gb_clean_merged_df.rename(columns={"views":"video_views"}, inplace=True)

ca_clean_merged_df = ca_merged_df[['video_id','title','channel_title','category_id', 'category_title','trending_date', 
       'publish_hour', 'views', 'likes', 'dislikes']]
ca_clean_merged_df.rename(columns={"views":"video_views"}, inplace=True)

de_clean_merged_df = de_merged_df[['video_id','title','channel_title','category_id', 'category_title','trending_date', 
       'publish_hour', 'views', 'likes', 'dislikes']]
de_clean_merged_df.rename(columns={"views":"video_views"}, inplace=True)

C:\Users\oddoy\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [27]:
us_clean_merged_df.head(2)

,video_id,title,channel_title,category_id,category_title,trending_date,publish_hour,video_views,likes,dislikes
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,People & Blogs,17.14.11,17:13:01,748374,57527,2966
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,Entertainment,17.14.11,07:30:00,2418783,97185,6146

In [28]:
gb_clean_merged_df.head(2)

,video_id,title,channel_title,category_id,category_title,trending_date,publish_hour,video_views,likes,dislikes
0,Jw1Y-zhQURU,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,Howto & Style,17.14.11,07:38:29,7224515,55681,10247
1,3s1rvMFUweQ,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,Entertainment,17.14.11,06:24:44,1053632,25561,2294

In [29]:
ca_clean_merged_df.head(2)

,video_id,title,channel_title,category_id,category_title,trending_date,publish_hour,video_views,likes,dislikes
0,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,Music,17.14.11,17:00:03,17158579,787425,43420
1,0dBIkQ4Mz1M,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,Comedy,17.14.11,17:00:00,1014651,127794,1688

In [30]:
de_clean_merged_df.head(2)

,video_id,title,channel_title,category_id,category_title,trending_date,publish_hour,video_views,likes,dislikes
0,LgVi6y5QIjM,Sing zu Ende! | Gesangseinlagen vom Feinsten |...,inscope21,24,Entertainment,17.14.11,17:08:49,252786,35885,230
1,Bayt7uQith4,Kinder ferngesteuert im Kiosk! Erwachsene abzo...,LUKE! Die Woche und ich,23,Comedy,17.14.11,22:30:01,797196,53576,302

In [33]:
#database connection
rds_connection_string = "postgres:spitfire1@localhost:5432/youtube_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [34]:
engine.table_names()

['us', 'great_britain', 'canada', 'germany']

In [ ]:
# Load DataFrames into postgres SQL database
us_clean_merged_df.to_sql(name='us', con=engine, if_exists='append', index=False)
gb_clean_merged_df.to_sql(name='great_britain', con=engine, if_exists='append', index=False)
ca_clean_merged_df.to_sql(name='canada', con=engine, if_exists='append', index=False)
de_clean_merged_df.to_sql(name='germany', con=engine, if_exists='append', index=False)

In [39]:
pd.read_sql_query('SELECT * FROM us LIMIT 5;', con=engine)

,video_id,title,channel_title,category_id,category_title,trending_date,publish_hour,video_views,likes,dislikes
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,People & Blogs,17.14.11,17:13:01,748374,57527,2966
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,Entertainment,17.14.11,07:30:00,2418783,97185,6146
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,Comedy,17.14.11,19:05:24,3191434,146033,5339
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,Entertainment,17.14.11,11:00:04,343168,10172,666
4,d380meD0W0M,I Dare You: GOING BALD!?,nigahiga,24,Entertainment,17.14.11,18:01:41,2095731,132235,1989

In [44]:
# Confirm data has been added by querying the items and reviews table
pd.read_sql_query('SELECT category_id, MAX(category_title), COUNT(category_id) FROM us GROUP BY category_id 
                  ORDER BY COUNT(category_id) DESC  LIMIT 5;', con=engine)

   category_id             max  count
0           24   Entertainment   9964
1           10           Music   6472
2           26   Howto & Style   4146
3           23          Comedy   3457
4           22  People & Blogs   3210